*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Kumbh Sans', sans-serif;
}

html{
    font-size: 1rem;
}

body{
    width: 100vw;
    max-width: 23.4375rem;
    margin: auto;
    height: 100vh;
    max-height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    background-color: $clr-dark-cyan;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: top -40rem left -40rem , bottom -40rem right -40rem;
    background-repeat: no-repeat;
   
}