//COLORS

$clr-dark-cyan: hsl(185, 75%, 39%);
$clr-very-dark-desaturated-blue: hsl(229, 23%, 23%);
$clr-dark-grayish-blue: hsl(227, 10%, 46%);
$clr-dark-gray: hsl(227, 10%, 46%);


@import "global";
@import "card";